@if (!isLoading) {
  <div class="invite-container">
    @if (!error && !isAccepted) {
      <h2>You're Invited!</h2>
      <p>
        <strong>{{ inviteInfo?.firstName }} {{ inviteInfo?.lastName }}</strong>,<br />
        You've been invited to join
        <strong>{{ inviteInfo?.organizationName }}</strong>s
        as a <strong>{{ inviteInfo?.roleName }}</strong>.
      </p>
      <button class="btn btn-primary" (click)="onAccept()">Accept Invite</button>
    }
    @if (isAccepted) {
      <div class="success-message">
        <h3>Invite Accepted ✅</h3>
        <p>
          We've sent you an email to set your JobFlow password and finish account setup.
          Please check your inbox.
        </p>
      </div>
    }
    @if (error) {
      <div class="error-message">
        <h3>Oops!</h3>
        <p>{{ error }}</p>
      </div>
    }
  </div>
} @else {
  <div class="loading">
    <p>Loading your invitation...</p>
  </div>
}

<ng-template #loading>
  <div class="loading">
    <p>Loading your invitation...</p>
  </div>
</ng-template>
