<div class="cq-shell" role="region" aria-label="Customer queue">
  @if (isLoading) {
    @for (i of [1,2]; track i) {
      <div class="cq-item">
        <div class="cq-avatar sh-skeleton cq-skel-avatar"></div>
        <div class="cq-info">
          <div class="sh-skeleton cq-skel-name"></div>
          <div class="sh-skeleton cq-skel-channel"></div>
        </div>
      </div>
    }
  } @else if (customers.length === 0) {
    <p class="cq-empty">Queue is clear.</p>
  } @else {
    @for (customer of customers; track customer.id) {
      <div
        class="cq-item"
        role="listitem"
        tabindex="0"
        (click)="pickUp.emit(customer)"
        (keydown.enter)="pickUp.emit(customer)"
        (keydown.space)="pickUp.emit(customer); $event.preventDefault()"
      >
        <div class="cq-avatar">{{ customer.avatarInitials || customer.name.charAt(0) }}</div>
        <div class="cq-info">
          <span class="cq-name">{{ customer.name }}</span>
          <span class="cq-channel">{{ customer.organizationName || 'Visitor' }}</span>
        </div>
        <div class="cq-wait">{{ customer.waitMinutes }}m</div>
      </div>
    }
  }
</div>