<div class="row align-items-start align-items-md-center justify-content-between mb-4 g-3">
  <div class="col-12 col-md-auto">
    <h1 class="h1 mb-1 text-primary fw-bold">{{ title }}</h1>
    <small class="text-muted">{{ subtitle }}</small>
  </div>
  @if (actions?.length) {
    <div class="col-12 col-md-auto text-md-end">
      <div class="d-flex flex-wrap gap-2 justify-content-start justify-content-md-end">
        @for (action of actions; track action) {
          <button
            class="btn d-flex align-items-center gap-2 w-100 w-md-auto"
            [ngClass]="action.class"
            (click)="action.click?.()"
            >
            @if (action.icon) {
              <lucide-icon [name]="action.icon" class="icon-lg"></lucide-icon>
            }
            {{ action.label }}
          </button>
        }
      </div>
    </div>
  }
</div>
