<nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky-dark {{isSticky && 'nav-sticky'}}"
  [ngClass]="navbarLight ? 'navbar-light' : 'navbar-dark'" id="navbar-sticky">
  <div class="container">

    <a class="logo text-uppercase" routerLink="/" (click)="isCollapsed = true">
      <img src="/assets/public/images/Asset 1.png" alt="" class="logo-light" style="height: 30px;" />
      <img src="/assets/public/images/Asset 1.png" alt="" class="logo-dark" style="height: 30px;" />
    </a>

    <!-- Just use (click) and no Bootstrap collapse attributes -->
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
      <i class="ti ti-menu"></i>
    </button>

    <!-- ngbCollapse only, no Bootstrap classes -->
    <div [ngbCollapse]="isCollapsed" class="navbar-collapse">
      <ul class="navbar-nav ms-auto navbar-center" id="mySidenav">
        @for (item of navLinks; track $index) {
        <li class="nav-item">
          <a
            [attr.href]="'/' + '#' + item"
            class="nav-link"
            (click)="$event.preventDefault(); navigateToSection(item)"
            [class.active]="isActiveSection(item)">
            {{ item | titlecase }}
          </a>
        </li>
        }
      </ul>
      <button class="btn btn-sm btn-primary ms-4" routerLink="/auth/login">Login</button>
    </div>
  </div>
</nav>
