<div class="row g-3">
   <div *ngIf="error">
      {{ error }}
   </div>
   <div class="col-12 col-md-6">
      <label class="form-label">Customer <span class="text-danger">*</span></label>
      <ng-select
         [searchable]="true"
         [(ngModel)]="selectedCustomerId">
         <ng-option *ngFor="let customer of customers"
                    [value]="customer.id">
            {{ customer.firstName }} {{ customer.lastName }}
         </ng-option>
      </ng-select>
   </div>
   <div class="col-12 col-md-6">
      <label class="form-label">Job Title <span class="text-danger">*</span></label>
      <input class="form-control form-control-lg" [(ngModel)]="title"/>
   </div>
</div>
<br>
<button type="button" class="btn btn-primary" (click)="save()" [disabled]="saving">
   {{ saving ? 'Saving…' : 'Save Job' }}
</button>
