<div class="row g-3">
   <div *ngIf="error">
      {{ error }}
   </div>
   <div class="col-12 col-md-6">
      <label class="form-label">Customer <span class="text-danger">*</span></label>
      <select class="form-select" [(ngModel)]="selectedCustomerId">
         <option [ngValue]="null">Select a customer</option>
         <option *ngFor="let customer of customers"
                 [value]="customer.id">
            {{ customer.firstName }} {{ customer.lastName }}
         </option>
      </select>
   </div>
   <div class="col-12 col-md-6">
      <label class="form-label">Job Title <span class="text-danger">*</span></label>
      <input class="form-control shadow-sm rounded-3" [(ngModel)]="title"/>
   </div>
</div>
<br>
<button type="button" class="btn btn-primary" (click)="save()" [disabled]="saving">
   {{ saving ? 'Saving…' : 'Save Job' }}
</button>
