<section class="softwere-home">
    <div class="bg-overlay"></div>
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="softwere-home-content text-white mt-4">
                            <h4 class="softwere-home-title text-uppercase line-height_1_4 letter-spacing_4">We Are Buiding 
                                Software To Help</h4>
                            <p class="softwere-home-desc f-15 mt-4 mx-auto ">Fusce convlis justo dolor egestas condimentum 
                                duis mattis odio sit amet tristique faucibus odio commodo augue eget finibus odio etiam pharetra 
                                tempus aliquam metus semper.</p>
                            <div class="softwere-home-watch-video mt-5">
                                <a class="modal-btn" href="javascript:void(0)" data-bs-toggle="modal"
                                data-bs-target=".watchvideomodal">
                                    <i class="mdi mdi-play play-icon-circle play play-icon f-20"></i>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="softwere-home-img text-center">
                            <img src="assets/images/softwere-home-img.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="softwere-home-shape-img">
                        <img src="assets/images/home-softwere-shape.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg watchvideomodal" data-keyboard="false"
    tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg">
        <div class="modal-content home-modal bg-transparent border-0">
            <div class="modal-header border-0">
                <button type="button" class="btn-close btn-close-white"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <video id="VisaChipCardVideo" class="video-box" controls="">
                <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                <!--Browser does not support <video> tag -->
            </video>
        </div>
    </div>
</div>
<!-- end modal -->
</section>
