<div class="jobflow-grid-wrapper">
   <div
      class="jobflow-grid-search"
      *ngIf="showSearchBar"
   >
      <input
         type="text"
         class="form-control form-control-lg"
         placeholder="Search…"
         [(ngModel)]="searchText"
         (input)="onSearchChange()"
      />

      <button
         *ngIf="searchText"
         class="btn btn-link clear-btn"
         (click)="clearSearch()"
      >
         ✕
      </button>
   </div>

   <div class="jobflow-grid-toolbar" *ngIf="toolbar.length">
      <button
         *ngFor="let tool of toolbar"
         type="button"
         class="btn btn-sm"
         [ngClass]="getToolbarButtonClass(tool)"
         (click)="onToolbarItemClick(tool)">
         {{ getToolbarButtonLabel(tool) }}
      </button>
   </div>

   <p-table
      #dt
      styleClass="jobflow-grid"
      [value]="data"
      [paginator]="allowPaging"
      [rows]="pageSize"
      [rowsPerPageOptions]="pageSizes"
      [sortMode]="'multiple'"
      [globalFilterFields]="globalFilterFields"
      [tableStyle]="{ 'min-width': '100%' }"
      [scrollable]="true"
      [scrollHeight]="gridHeight"
   >
      <ng-template pTemplate="header">
         <tr>
            <th
               *ngFor="let col of columns; trackBy: trackByHeader"
               [style.width.px]="col.width"
               [style.text-align]="col.textAlign?.toLowerCase() ?? 'left'"
               [pSortableColumn]="getSortableField(col)"
            >
               {{ col.headerText }}
               <p-sortIcon
                  *ngIf="allowSorting && col.field && !col.template"
                  [field]="col.field"
               ></p-sortIcon>
            </th>
         </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row>
         <tr>
            <td
               *ngFor="let col of columns; trackBy: trackByHeader"
               [style.text-align]="col.textAlign?.toLowerCase() ?? 'left'"
            >
               <ng-container *ngIf="col.template; else defaultCell">
                  <ng-container
                     *ngTemplateOutlet="col.template!; context: { $implicit: row }"
                  ></ng-container>
               </ng-container>

               <ng-template #defaultCell>
                  <ng-container *ngIf="col.commands?.length; else valueCell">
                     <div class="jobflow-grid-command-buttons">
                        <button
                           *ngFor="let command of col.commands"
                           type="button"
                           class="btn btn-sm"
                           [ngClass]="command.buttonOption?.cssClass"
                           (click)="onCommandItemClick(command.type, row)"
                        >
                           <i *ngIf="command.buttonOption?.iconCss" [class]="command.buttonOption?.iconCss"></i>
                           {{ command.buttonOption?.content ?? command.type }}
                        </button>
                     </div>
                  </ng-container>

                  <ng-template #valueCell>
                     {{ getCellValue(row, col) }}
                  </ng-template>
               </ng-template>
            </td>
         </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
         <tr>
            <td [attr.colspan]="columns.length" class="text-center py-4 text-muted">
               No records found.
            </td>
         </tr>
      </ng-template>
   </p-table>
</div>
