<div class="container py-4">
  <div class="row align-items-center justify-content-between">
    <div class="col-12 col-md-auto mb-3 mb-md-0">
      <h1 class="h1 mb-0">Employees</h1>
    </div>
    <div class="col-12 col-md-auto text-md-end">
      <div class="d-flex gap-3 justify-content-start justify-content-md-end">
        <button class="btn btn-outline-primary btn-xl px-4 fw-semibold">Invite
            <lucide-icon class="icon-lg"
                name="chevron-down"></lucide-icon>
        </button>
        <button class="btn btn-primary btn-xl px-4 fw-semibold">Add Employee
            <lucide-icon class="icon-lg"
                name="chevron-down"></lucide-icon>
        </button>
      </div>
    </div>
  </div>
</div>
