  <div class="modal-header">
    <h5 class="modal-title">{{ data.title }}</h5>
    <button type="button" class="btn-close" (click)="close()"></button>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
      <div class="row g-3">
        <div class="col-md-8">
          <label class="form-label">Name</label>
          <input pInputText pSize="small" formControlName="name" class="w-100" maxlength="200" />
        </div>
        <div class="col-md-4">
          <label class="form-label">Type</label>
          <p-select formControlName="type" [options]="typeOptions" optionLabel="label" optionValue="value" size="small" [fluid]="true" />
        </div>

        <div class="col-md-4">
          <label class="form-label">Part #</label>
          <input pInputText pSize="small" formControlName="partNumber" class="w-100" maxlength="100" />
        </div>
        <div class="col-md-4">
          <label class="form-label">Unit</label>
          <input pInputText pSize="small" formControlName="unit" class="w-100" maxlength="50" placeholder="ea, hr, ft" />
        </div>
        <div class="col-md-4">
          <label class="form-label">Inventory Units per Sale</label>
          <p-inputnumber formControlName="inventoryUnitsPerSale" [minFractionDigits]="0" [maxFractionDigits]="4" [fluid]="true" />
        </div>

        <div class="col-md-6">
          <label class="form-label">Cost</label>
          <p-inputnumber formControlName="cost" [minFractionDigits]="2" [maxFractionDigits]="2" [fluid]="true" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Price</label>
          <p-inputnumber formControlName="price" [minFractionDigits]="2" [maxFractionDigits]="2" [fluid]="true" />
        </div>

        <div class="col-12">
          <label class="form-label">Description</label>
          <textarea pTextarea rows="3" formControlName="description" class="w-100"></textarea>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Save</button>
    </div>
  </form>