<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label fw-semibold text-muted" for="inviteFirstName">First Name</label>
      <input id="inviteFirstName" pInputText pSize="small" type="text" formControlName="firstName" class="w-100" />
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label fw-semibold text-muted" for="inviteLastName">Last Name</label>
      <input id="inviteLastName" pInputText pSize="small" type="text" formControlName="lastName" class="w-100" />
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label fw-semibold text-muted" for="inviteEmail">Email Address</label>
    <input id="inviteEmail" pInputText pSize="small" type="email" formControlName="email" class="w-100" />
  </div>

  <div class="mb-3">
    <label class="form-label fw-semibold text-muted" for="invitePhone">Phone Number</label>
    <input id="invitePhone" pInputText pSize="small" type="tel" formControlName="phoneNumber" class="w-100" />
  </div>

  <div class="mb-3">
    <label class="form-label fw-semibold text-muted" for="inviteRole">Employee Role</label>
    <p-select id="inviteRole" formControlName="roleId" [options]="roles" optionLabel="name" optionValue="id" size="small" placeholder="Select a Role" [fluid]="true" />
  </div>
</form>
