<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label fw-semibold text-muted">First Name</label>
      <input pInputText pSize="small" type="text" formControlName="firstName" class="w-100" />
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label fw-semibold text-muted">Last Name</label>
      <input pInputText pSize="small" type="text" formControlName="lastName" class="w-100" />
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label fw-semibold text-muted">Email Address</label>
    <input pInputText pSize="small" type="email" formControlName="email" class="w-100" />
  </div>

  <div class="mb-3">
    <label class="form-label fw-semibold text-muted">Phone Number</label>
    <input pInputText pSize="small" type="tel" formControlName="phoneNumber" class="w-100" />
  </div>

  <div class="mb-3">
    <label class="form-label fw-semibold text-muted">Employee Role</label>
    <p-select formControlName="roleId" [options]="roles" optionLabel="name" optionValue="id" size="small" placeholder="Select a Role" [fluid]="true" />
  </div>
</form>
