// 
// Contact
// 

.custom-form {
    .form-control {
        height: 45px;
        padding: 0.4rem 0.9rem;
        font-size: 14px;
        border-width: 1px;
        border-radius: 12px;
        &:focus {
            outline: 0;
            box-shadow: none;
        }
    }
    textarea{
        &.form-control{
            height: auto;
        }
    }
}

.form-control{
    &:focus {
        border-color: $primary;
    }
}
