<section class="section softwere-pricing" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center">
                    <h2 class="heading-title-title letter-spacing_4 text-uppercase">Our Pricing</h2>
                    <p class="heading-title-desc text-muted mt-4">Pellentesque habitant morbi tristique senectus malesuada fames turpis egestas duis dignissim finibus commodo nibh malesuada sollis diam.</p>
                </div>
            </div>
        </div>

        <div class="row mt-5 pt-3">
            <div class="col-lg-4">
                <div class="softwere-pricing-box text-center mt-4">
                    <div class="bg-dark p-3">
                        <h4 class="mb-0 text-uppercase f-18 letter-spacing_4 text-white">Go</h4>
                    </div>
                    <div class="p-5">
                        <div class="softwere-pricing-plan">
                            <h3><sup>$ </sup>20<span>/month</span></h3>
                        </div>
                        <div class="softwere-features mt-4 pt-3">
                            <p class="text-muted">CRM Auto-Sync</p>
                            <p class="text-muted">Unlimited Email</p>
                            <p class="text-muted">Track Energy</p>
                            <p class="text-muted">Power And Dialing</p>
                            <p class="text-muted">Speech Analytics</p>
                            <p class="text-muted">Sales platform</p>
                        </div>
                        <div class="mt-5">
                            <a href="" class="btn btn-md btn-dark-custom">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="softwere-pricing-box text-center mt-4">
                    <div class="bg-dark p-3">
                        <h4 class="mb-0 text-uppercase f-18 letter-spacing_4 text-white">Flow</h4>
                    </div>
                    <div class="p-5">
                        <div class="softwere-pricing-plan">
                            <h3><sup>$ </sup>50<span>/month</span></h3>
                        </div>
                        <div class="softwere-features mt-4 pt-3">
                            <p class="text-muted">CRM Auto-Sync</p>
                            <p class="text-muted">Unlimited Email</p>
                            <p class="text-muted">Track Energy</p>
                            <p class="text-muted">Power And Dialing</p>
                            <p class="text-muted">Speech Analytics</p>
                            <p class="text-muted">Sales platform</p>
                        </div>
                        <div class="mt-5">
                            <a href="" class="btn btn-md btn-dark-custom">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="softwere-pricing-box text-center mt-4">
                    <div class="bg-dark p-3">
                        <h4 class="mb-0 text-uppercase f-18 letter-spacing_4 text-white">Max</h4>
                    </div>
                    <div class="p-5">
                        <div class="softwere-pricing-plan">
                            <h3><sup>$ </sup>90<span>/month</span></h3>
                        </div>
                        <div class="softwere-features mt-4 pt-3">
                            <p class="text-muted">CRM Auto-Sync</p>
                            <p class="text-muted">Unlimited Email</p>
                            <p class="text-muted">Track Energy</p>
                            <p class="text-muted">Power And Dialing</p>
                            <p class="text-muted">Speech Analytics</p>
                            <p class="text-muted">Sales platform</p>
                        </div>
                        <div class="mt-5">
                            <a href="" class="btn btn-md btn-dark-custom">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
